<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Strategic Web</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        section {
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


        p {
            margin-bottom: 1.5em;
        }
    </style>
</head>
<body>
    <section class="container col-lg-6 col-md-8 col-12 mt-md-4 mt-0 mt-lg-4">
        <h2>About us</h2>
        <p>Welcome to Strategic Web, your go-to web design company located in the heart of Brooklyn, New York. We take pride in providing top-notch web solutions to clients worldwide.</p>
        
        <div class="specialize">
            <p>What we specialize in:</p>
            <ul>
                <li>Creating aesthetically appealing websites</li>
                <li>Designing websites that are easy to navigate</li>
                <li>Orienting websites towards maximizing sales</li>
            </ul>
        </div>

        <div class="expertise">
            <p>What we are experts in:</p>
            <ul>
                <li>Website designing</li>
                <li>Programming</li>
                <li>E-commerce solutions</li>
            </ul>
        </div>

        <p>Our expert team, with diverse skills in graphic design, programming, marketing, and more, is dedicated to delivering innovative and strategic web solutions that not only meet but exceed your expectations.</p>

        <p>Explore our services and let us help you establish a strong online presence. We believe in the power of a well-designed website combined with effective SEO to elevate your brand and connect with your audience.</p>

        <p>Thank you for considering Strategic Web as your web design and SEO partner. We look forward to collaborating with you and bringing your vision to life!</p>
         <!-- Call-to-action -->
        <p class="mt-4">Interested in getting a high-quality website? <a href="your-contact-link" class="text-primary font-weight-bold">Contact us here</a> for a free consultation today.</p>
    </section>
</body>

</html>

