<%= stylesheet_link_tag('home')%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= stylesheet_link_tag 'home', 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% content_for :title, "Strategic-Web & Design Crafting Digital Excellence One Pixel At a Time" %>
  </head>
  <body>
       <article id="banner">
          <div class ="container-fluid">
            <div class="row">
              <%= video_tag(["Banner.mp4"],:autoplay => true,:muted => true, class: 'banner') %>
            </div>
          </div> 
        </article>

         <section class="description">
        <div class="container">
            <h4 class="text-center mt-4 mb-5">Why Choose Us?</h4>

            <div class="row">
                <div class="col-12 col-md-6">
                    <h5>Expert Teams</h5>
                    <p>Our team comprises experts in graphic design, programming, marketing, ecommerce, and more. We bring a diverse skill set to meet all your web design needs.</p>
                </div>
                <div class="col-12 col-md-6">
                    <h5>SEO Specialization</h5>
                    <p>We specialize in SEO to ensure your website ranks well on search engines. Increase your online visibility and drive more traffic to your business.</p>
                </div>
                <div class="col-12 col-md-6">
                    <h5>High-Quality Websites</h5>
                    <p>We are committed to delivering high-quality websites that are aesthetically appealing, easy to navigate, and geared towards driving sales for your business.</p>
                </div>
                <div class="col-12 col-md-6">
                <h5>Flexible Pricing</h5>
                <p>We understand that each project is unique. Our flexible pricing options ensure that you get the best value for your investment, tailored to your specific needs and budget.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="for-whom">
        <div class="container mb-5 my-4 mt-3">
            <h4 class="text-center mb-5">Who is Strategic Web For?</h4>

            <div class="row">
                <div class="col-md-6">
                    <h5>Entrepreneurs & Startups</h5>
                    <p>Strategic Web is the ideal partner for entrepreneurs and startups looking to establish a strong online presence. We create custom solutions that align with your brand and business goals.</p>
                </div>
                <div class="col-md-6">
                    <h5>Established Businesses</h5>
                    <p>For established businesses seeking to enhance their online visibility and customer engagement, Strategic Web provides tailored web design services that reflect your brand identity and values.</p>
                </div>
                <div class="col-md-6">
                    <h5>Organizations & Causes</h5>
                    <p>Nonprofits, organizations, and causes benefit from our expertise in creating websites that effectively communicate their mission, values, and initiatives. We provide comprehensive solutions to support their online goals and community engagement.</p>
                </div>
            </div>
        </div>
    </section>
  <!-- Footer Section -->
    <footer class="text-white py-4 footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Our Availability</h5>
                    <p>Monday - Friday: 9:00 AM - 5:00 PM</p>
                </div>
                <div class="col-md-6">
                    <h5>Contact Us</h5>
                    <p>Have a question? Reach out for a free consultation!</p>
                    <p>Phone 1: +1 802-518-0060</p>
                    <p>Phone 2: +1 201-292-7886</p>
                    <p>Email 1: admin@strategicwebdesigner.com</p>
                    <p>Email 2: support@strategicwebdesigner.com</p>
                </div>
            </div>


            <div class="row justify-content-end mt-4">
              <div class="col-md-6 text-right">
                  <%= image_tag "okay.svg"%>
              </div>
            </div>
          </div>
    </footer>
   </body>
</html>

